.App {
  text-align: center;
}

.wardrobe-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category-row {
  display: flex;
  overflow: hidden;
  animation: carousel-animation 10s linear infinite alternate; /* Added 'alternate' to make it alternate direction */
}

@keyframes carousel-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
