/* In App.css */

/* Updated category-row class to target only wardrobe containers with carousel animation */
.category-row {
  overflow: hidden;
}

/* Updated wardrobe-item class to apply carousel animation */
.wardrobe-item {
  animation: carousel-animation 10s linear infinite alternate;
}

/* Paused animation style for wardrobe items */
.wardrobe-item.paused {
  animation-play-state: paused;
}

/* Ensure that carousel animation doesn't affect other elements */
@keyframes carousel-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
