.carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.carousel-image {
  max-width: 100%;
  height: auto;
  display: none; /* Hide all images by default */
}

.carousel-image.active {
  display: block; /* Display the active image */
}
